.container-pair {
  display: flex;
}

.container-pair h2 {
  padding: 10px;
  color: #818ea3;
}

.container-pair h1 {
  padding-top: 10px;
  font-size: 30px;
  color: white;
}

.currency-logo {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.currency-logo {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.icon-logo {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  margin-right: 15px;
}

.chart-pair h5 {
  color: #818ea3;
}

.price-up {
  color: #11cb81;
  position: relative;
  left: 750px;
  bottom: 110px;
  font-size: 34px;
  font-weight: bold;
}

.price-down {
    color: #dc3e4f;
    position: relative;
    left: 750px;
    bottom: 110px;
    font-size: 34px;
    font-weight: bold;
}
